@model IEnumerable<Domain.AvailableTeacherTime>

@{
    ViewBag.Title = "AvailableTeacherTime";
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .icons {
        display: none;
    }
</style>
<div class="container">
    <div class="header">
    </div>
    <table class="table table-striped table-responsive table-full-width">
        <tr class="success">
            <th>
                @Html.DisplayName(" Vendor Category")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAvailableTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAvailableTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAvailableDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAvailableDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAvailableTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAvailableTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    <a href="@Url.Action("EditAvailableTeacherTime",new {id=item.PKAvailableTeacherTimeId })"><input type="button" value="Edit" class="btn btn-success" /></a>
                    @*<a href="@Url.Action("DeleteAvailableTeacherTime",new {id=item.PKAvailableTeacherTimeId })"><input type="button" value="Delete" class="btn btn-danger" /></a>*@
                    @*<a href="#"><input type="button" value="Delete" class="btn btn-danger" /></a>*@
                </td>
            </tr>
        }

    </table>
</div>