@model IEnumerable<Domain.TeacherProfile>

@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="header">
        Vender Expirence Profile
    </div>
    <table class="table table-striped table-responsive table-full-width">
        <tr class="success">
            <th>
                @Html.DisplayName(" Vendor Category")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    <a href="@Url.Action("EditTeacherProfile",new {id=item.PKTeachersId })"><input type="button" value="Edit" class="btn btn-success" /></a>
                    @*<a href="@Url.Action("TeacherProfileDetails",new {id=item.PKTeachersId })"><input type="button" value="Details" class="btn btn-info" /></a>*@
                    @*<a href="@Url.Action("DeleteClass",new {id=item.PKTeachersId })"><input type="button" value="Delete" class="btn btn-danger" /></a>*@
                </td>
            </tr>
        }

    </table>
</div>